body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #f0fff0;
    color: #333;
}

.principal{ 
            background-color: #114733;
            border-radius: 0.8em;
            word-spacing: 5;
            justify-content: center; 
            display: flex;
            flex-direction: column;
                 align-content: center;
                 margin: auto;
                 padding: 0.8em;
               
                 color: #ffffff;
                 border: 0.25em solid #017500;
                 text-decoration: none;
                 height: 69px;
                 left: 6px;
                 top: 202px;
}



.logo{
    height: 48px;
     display: flex;
                 align-content: flex-start;
    right: 19px;
                 margin: auto;
                 padding: 0.1em;
                 background-color: #ffffff;
                 border: 0.17em solid black;
                 border-radius: 0.25em;
                 border-color: #4500cd;
                 cursor: pointer;
                 text-decoration: none;
                 position: fixed;

}

 a:link {
          color: white;
          background-color: transparent;
          text-decoration: none;
          font-size: x-large;
          font-weight: 859;
        
        }

        a:visited {
          color: yellow;
          background-color: transparent;
          text-decoration: none;
        }

        a:hover {
          color:#10CD00;
          background-color: transparent;
          text-decoration:none;
          
        }

        a:active {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: underline;
        }
        
     
/* Estilo do título principal */
h1 {
    font-size: 2em;
    color: #017500;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo dos subtítulos */
h2 {
    font-size: 1.5em;
    color: #345e47;
    margin-top: 30px;
    border-bottom: 2px solid #76ae79;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.2em;
    color: #435b47;
    margin-top: 20px;
    border-left: 4px solid #266a14;
    padding-left: 10px;
}

/* Estilos dos parágrafos */
p {
    margin-bottom: 15px;
}

/* Estilo da lista ordenada */
ol {
    margin-left: 20px;
}

ol ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

ul li {
    margin: 20px 0;
}

.cinco:nth-child(even){
    background-color: rgba(0, 104, 33, 0.9);
    padding: 15px;
    border-radius: 0.8em;
    color: #e1e1e1;
}
.cinco:nth-child(odd){
    background-color: rgba(166, 248, 192, 0.9);
     padding: 15px;
     border-radius: 0.8em;
}

.cinco img{
    margin:15px
}


.imagemDoCodigo{
    height: 100px;
}
.imagem{
    height: 150px;
}
.order{
    height: 200px;
}
.align-items{
    height: 350px;
}
.justify-contentimg{
    height: 400px;
}
.justify-content{
    height: 450px;
}
.pratica{
    color: #017500;
    text-align: center;
    margin-bottom: 20px;
}
